* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 100%;
}
body {
    height: 100vh;
    background: var(--Magnolia);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.none {
  visibility: hidden;
}
.child {
  height: 100px;
  width: 100px;
  background: red;
}
.active {
  background: green;
}

.container {
  display: flex;
  margin: auto;
  height: 40rem;
  max-width: 60rem;
  padding: 1rem;
  background: var(--White);
  border-radius: 1rem;
  position: relative;
  top: 7rem;
}
.side-bar {
  flex: 2;
  background-image: url("./assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
  padding: 2rem;
  min-width: 15rem;
}
.step {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--White);
}
.step > p:first-child {
    /* color: var(--White); */
    padding: 1rem;
    height: 40px !important;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    border: 1px solid var(--White);
    height: min-content;
}
.step > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.step > div > p {
    color: var(--Light-gray);
    font-size: 0.8rem;
    text-transform: uppercase;
}
.step > div > h4 {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}
.count-active {
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
}
.main-page {
  flex: 5;
}

.next, .confirm {
    background: var(--Marine-blue);
    color: var(--Alabaster);
    border: none;
    outline: none;
    font-weight: 600;
    border-radius: 0.4rem;
    padding: 0.7rem 1.4rem;
    cursor: pointer;
    display: none;
}
.btn-show {
  display: block;
}

.prev {
    background: none;
    border: none;
    outline: none;
    color: var(--Marine-blue);
    font-weight: 600;
    cursor: pointer;
    padding: 0.7rem 1.4rem;
}
.step-main {
    display: none;
    padding: 3rem 5rem;
    /* padding-bottom: 7rem; */
    height: 90%;
}
.step-active {
    display: block;
}
.step-1 > h1, .step-2 > h1, .step-3 > h1, .step-4 > h1 {
  margin-bottom: 1rem;
  color: var(--Marine-blue);
}
.step-1 > h4, .step-2 > h4, .step-3 > h4, .step-4 > h4 {
  margin-bottom: 2rem;
  font-weight: 400;
  color: var(--Cool-gray);
}
.input-div {
  padding-bottom: 1.6rem;
  position: relative;
}
.input-div span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--Strawberry-red);
  font-size: 0.8rem;
  /* margin-left: auto; */
}
.input-div input {
  margin-top: 0.4rem;
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--Light-gray);
  border-radius: 0.5rem ;
  font-size: 1.1rem;
}
.input-div > input:focus {
  outline-color: var(--Purplish-blue);
}
.radio-container {
  display: none;
}
.main-page {
  /* padding-bottom: 2rem; */
  position: relative;
}
.main-page > .btns {
  position: absolute;
  display: flex;
  padding: 0 5rem;
  justify-content: space-between;
  width: 100%;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--Marine-blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.radio-values {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.plan-label {
  border: 1px solid var(--Light-gray);
  padding: 1rem;
  border-radius: 0.7rem;
}
.plan-label:active {
  background: var(--Light-blue);
}
.plan-label:hover {
  border: 1.5px solid var(--Purplish-blue);
}

.plan-label > h3 {
  color: var(--Marine-blue);
  margin-bottom: 0.5rem;
}
.plan-label > p {
  color: var(--Cool-gray);
}


.img-container {
  padding-right: 5rem;
  padding-bottom: 3rem;

}
.monthly, .yearly {
  color: var(--Cool-gray);
} 
.toggle-plan-active {
  color: var(--Marine-blue);
  font-weight: 700;
}
.toggle-plan {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  background: var(--Alabaster);
  padding: 0.7rem;
}

.free-trial {
  color: var(--Purplish-blue) !important;
  margin-top: 0.7rem;
}
.addOns-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
  padding: 1.3rem;
  border-radius: 1rem;
  border: 1px solid var(--Pastel-blue)
}
.addOns-section > label {
  display: flex;
  align-items: center;
  width: 100%;
}
.addOns-price {
  margin-left: auto;
  color: var(--Purplish-blue);
  font-size: 0.9rem;
}
.addOns-text {
  width: 100%;
}
input[name="addOns"] {
  accent-color: var(--Purplish-blue);
  transform: scale(1.5);
}
.addOns-text > h3 {
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
  color: var(--Marine-blue);
}
.addOns-text > p {
  color: var(--Cool-gray);
  font-size: 0.8rem;
}
.summary-container {
  background: var(--Alabaster);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.plan-summary-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--Light-gray);
  margin-bottom: 1rem;
  position: relative;
}
.plan-summary-container > p {
  font-weight: 700;
  color: var(--Marine-blue);
}
.addOns-summary-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.addOns-summary-container > div {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 1rem; */
}
.addOns-summary-container > div > p {
  color: var(--Marine-blue);
  font-size: 0.9rem;
  font-weight: 500;
}
.addOns-summary-container > div > p:first-child {
  color: var(--Cool-gray);
  font-size: 0.9rem;
}
.total-summary {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.total-summary > p {
  font-size: 1.2rem;
  color: var(--Purplish-blue);
  font-weight: 600;
}
.total-summary > p:first-child {
  color: var(--Cool-gray);
}
.plan-summary-container > span {
  position: absolute;
  top: 50%;
  font-size: 0.8rem;
  color: var(--Purplish-blue);
  font-weight: 600;
}
.plan-summary-container > span:hover {
  text-decoration:underline;
  cursor: pointer;
}
.step-5 {
  text-align: center;
  padding: 5rem;
}
.img-logo {
  margin-bottom: 2rem;
} 
.step-5 > h1 {
  color: var(--Marine-blue);
  margin-bottom: 1.5rem;
}
.step-5 > p {
  color: var(--Cool-gray);
  line-height: 1.4rem;
}

@media (max-width: 600px) {
  html {
    font-size: 80%;
  }
  .container {
    flex-direction: column;
    padding: 0;
    background: none;
    /* transform: translateY(0); */
    position: static;
  }
  .side-bar {
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    border-radius: 0;
  }
  .side-bar {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  .step > div {
    display: none;
  }
  .step-main {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .main-page{
    padding: 1rem;
    padding-bottom: 2rem;
    /* background: red; */
    background: var(--White);
    margin: 0 2rem;
    margin-top: -50px;
    position: static;
  }
  .main-page > .btns {
    padding: 2rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background: var(--White);
    position: absolute;
  }
  .radio-values {
    flex-direction: column;
  }
  .plan-label {
    padding: 1.5rem;
  }
  .img-container {
    padding-right: 1rem;
    padding-bottom: 0.4rem;
    float: left;
  }
}